<h1>Adicione um usuario</h1>
<form action="/users/create"  method="post" class="form">
    <div class="form-control">
        <label for="name">Nome:</label>
        <input type="text" name="name" placeholder="Digite seu Nome:">
    </div>

    <div class="form-control">
        <label for="occupation">Profissão:</label>
        <input type="text" name="occupation" placeholder="Digite a profissão:">
    </div>

      <div class="form-control form-checkbox">
        <input type="checkbox" name="newsletter" checked>
        <label for="newsletter">Enviar promoções?:</label>
    </div>

    <input type="submit" value="Cadastrar">
</form>